@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);

* {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
 
body {
	font-family:'Yanone Kaffeesatz', sans-serif;
	background: url(../images/Trivial.jpg);
	background-size:cover;
	background-attachment: fixed;
	background-position:0 0px;
}

#company-founders {
  background: url(../images/Trivial.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: 0 0px;
  }
 
.contenedor {
	width: 100%;
	margin:auto;
}
 
#particles-js {
	width: 100%;
	height:100%;
	position: fixed;
	background:rgba(1,2,25,.8);
}

header {
	position: relative;
	height:65px;
}
 
header .menu {
	font-family:'Yanone Kaffeesatz', sans-serif;
	background:rgba(59,61,87,.98);
	overflow: hidden;
	position: fixed;
	width: 100%;
	z-index: 2;
	height: 70px;
	border-bottom: 2px solid white;
}
 
header .logo {
	color:rgba(256,256,256,.9);
	float: left;
	font-size:30px;
	line-height:70px;
}
 
 h1{
 	text-align:center;
 	font-size:50px;
 	color:white;
 	padding:20px;
 }
 
  h3{
 	
 	font-size:45px;
 	text-align:center;
 	padding:15px;
 }
 
 h3 a{
 	color:#8A2908;	
 }
 
 h4{
 	color:blue;
 	font-size:40px;
 	text-align:center;
 	padding:10px;
 }
 
  h4 a{
 	color:blue;	
 }
 
  h5{
 	color:#0080FF;
 	font-size:35px;
 	text-align:center;
 	padding:10px;
 }
 
  h5 a{
 	color:#0080FF;	
 }
 
  h6{
 	color:#0B0B3B;
 	font-size:30px;
 	text-align:center;
 	padding:10px;
 }
  h6 a{
 	color:#0B0B3B;
 }

.tablero {
	background: url(../images/tablero.jpg);
	z-index: 2px;
}

.tablero article {
	width: 80%; 
	position: relative;
}

 h2 {
 	text-align:center;
 	font-size:40px;
 	color:black;
 }

 .container section ul li  {
 	color: #979797;
 }

.container li {
 	color: white;
 }

 a {
 	text-decoration: none;
 	color: orange;
 }

 a:hover{
 	text-decoration: none;
 	color: white;
 }
/* Texto Inicial */
.texto {
	padding:180px 0;
	text-align: center;
	color:#fff;
	position: relative;
	font-weight: 400;
}

.imagen  {
	text-align: center;
	position: relative;
}
 
 .circular h3 {
 	color: #979797;
 	text-align: center;
 }

.circular  h3 {
 	color: white;
 	text-align: center;
 }
.texto h2, .texto p {
	background: rgba(0,0,0,.8);
	display:inline-block;
	padding:10px 20px;
}
 
.texto h2 {
	font-size:55px;
	letter-spacing: 2.5px;
	font-weight: normal;
}
 
.texto p {
	font-size:20px;
	letter-spacing: 2.5px;
}
 
/* Principal */
.principal {
	position: relative;
	color:#000;
}
 
.principal article {
	padding:20px;
	background: rgba(256,256,256,1);
	margin-bottom: 20px;
	border-top: 7px solid rgb(48, 49, 65);
}
 
.principal article p {
	margin-bottom: 20px;
	color: black;
	line-height:24px;
	padding-left: 70px;
	padding-right: 70px;
	font-family:helvetica, arial, sans-serif;
}
 
.dado {
 	padding: 20px;
}

.logo {
	padding-left: 25px;
}

.contenido h1,h2,h3{
	padding-left: 70px;
	padding-right: 70px;
	color: black;
}

.circular {
	width: 170px;
	height: 170px;
	border-radius: 85px;
	-webkit-border-radius: 85px;
	-moz-border-radius: 85px;
	}

header nav {
	float: right;
}
 
header nav ul {
	list-style: none;
}
 
header nav ul li {
	float: left;
}
 
header nav ul li a {
	color:rgba(256,256,256,.9);
	text-decoration: none;
	display: block;
	font-size: 21pt;
	padding:0 25px;
	line-height:80px;
}
 
header nav ul li:hover {
	background:rgba(255,255,255,.8);
	border-bottom: inset 2px solid #000000;
}
 
header nav ul li a:hover {
	color:#000000;
}

#mainTitle {
	color:black;
}

#imgDownload {
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.principal ul {
	padding-left: 100px;
}

ul li { 
	
	font-size: 18pt;
}

@media (min-width: 500px) {
	nav .background{
		position: absolute;

		width: 100%;
		height: 100%;
		background: rgba(0,0,0,0.9);
		background: -webkit-radial-gradient(rgba(0,0,0,1)55%,rgba(0,0,0,0)); /*Safari 5.1-6*/
		background: -o-radial-gradient(rgba(0,0,0,1)55%,rgba(0,0,0,0)); /*Opera 11.1-12*/
		background: -moz-radial-gradient(rgba(0,0,0,1)55%,rgba(0,0,0,0)); /*Fx 3.6-15*/
		background: radial-gradient(rgba(0,0,0,1)55%, rgba(0,0,0,0)); /*Standard*/
		opacity: 0;
		transition: all 1s ease-out;
		-webkit-transition: all 1s ease-out;
	}
	nav.active .background{
		opacity: 0.9;
		position: fixed;

	}

	nav .wrapper-nav{
		display: table;
		height: 100%;
		width: 100%;
	}
	nav header{
		display: table-row;
		height: 150px;/*ajustar a tamaño dispositivo*/
		transition: background 0.5s ease-out;
		-webkit-transition: background 0.5s ease-out;
	}
	nav .nombre{
		margin-left:-15px;
		z-index:1;
	}
	nav .cabecera{
		width:100%;
		position:absolute;
	}
	nav .menu{
		display:none;
		visibility:hidden;
		text-align: center;
		font-size: 18px;
		opacity: 0;
		transition: all 0.5s ease-out;
		-webkit-transition: all 0.5s ease-out;
		z-index: 2;
	}
	nav.active .menu{
		display: table-row;
		visibility:visible;
		opacity: 1;
	}
	nav .menu .wrapper-menu{
		display: table-cell;
		vertical-align: middle;
		padding: 30px 0;
	}
	nav .menu .item{
		padding: 10px;
		font-size: 50px;
		line-height: 50px;
		color: white;
		display: block;
		position: relative;
		font-weight: 100;
		text-transform: uppercase;
	}
	nav .menu .item:hover{
		background: white;
		background: -webkit-radial-gradient(black 40%,#6E6E6E); /*Safari 5.1-6*/
		background: -o-radial-gradient(black 40%,#6E6E6E); /*Opera 11.1-12*/
		background: -moz-radial-gradient(black 40%,#6E6E6E); /*Fx 3.6-15*/
		background: radial-gradient(black 40%, #6E6E6E); /*Standard*/
		color: white;
	}

	/* MENU BOTON */
	nav header .menu-button{
		position: absolute;
		top: 0px;
		right: 0px;
		z-index: 2;
	}
	nav header .menu-button .text{
		display: table-cell;
		vertical-align: middle;
		height: 55px;
		text-align: right;
		position: relative;
		font-size: 20px;
		text-transform: uppercase;
		font-weight: 100;
	}
	nav header .menu-button .text a{
		color:white;
	}
	nav header .menu-button .text a:hover{
		color: white;
	}
	nav header .menu-button .text .close,
	nav header .menu-button .text .open{
		padding: 10px;
		transition: 0.5s all ease-out;
		-webkit-transition: 0.5s all ease-out;
		color:white;
	}
	nav.active header .menu-button .text .close,
	nav.fixed-section header .menu-button .text .close,
	nav.active header.active .menu-button .text .open{
		color:white;
	}
	nav header .menu-button .text .open{
		position: absolute;
		top: 30px;
		right: 0px;
		opacity: 0;
	}
	nav.active header .menu-button .text .close{
		opacity: 0;
		margin-top: -15px;
	}
	nav.active header .menu-button .text .open{
		opacity: 1;
		top: 5px;
		right: 0px;
	}
	nav header .menu-button .button{
		display: table-cell;
		vertical-align: middle;
		height: 60px;
		padding: 0px 20px 20px;
		cursor: pointer;
		background:transparent;
	}
	nav header .menu-button .lines{
		display: inline-block;
		width: 40px;
		height: 3px;
		background: white;
		border-radius: .2rem;
		-webkit-transition: all .3s ease;
		transition: all .3s ease;
		position: relative;
	}
	nav header .menu-button.black .lines,
	nav header .menu-button.black .lines:before,
	nav header .menu-button.black .lines:after{
		background: white;
	}
	nav.active header .menu-button .lines{
		background: 0 0;
	}
	nav header .menu-button .lines:before,
	nav header .menu-button .lines:after{
		display: inline-block;
		width: 40px;
		height: 3px;
		background: white;
		border-radius: .2rem;
		-webkit-transition: all .3s ease;
		transition: all .3s ease;
		position: absolute;
		left: 0;
		content: '';
		-webkit-transform-origin: .1rem center;
		transform-origin: .1rem center;
	}
	nav header .menu-button .lines:before{
		-webkit-transform-origin: 50% 50%;
		transform-origin: 50% 50%;
		top: -10px;
		width: 2.5rem;
	}
	nav header .menu-button:hover .lines:before{
		top: -15px;
	}
	nav.active header .menu-button .lines:before{
		top: 0px;
		-webkit-transform: rotate3d(0,0,1,45deg);
		transform: rotate3d(0,0,1,45deg);
	}
	nav header .menu-button .lines:after{
		-webkit-transform-origin: 50% 50%;
		transform-origin: 50% 50%;
		top: 10px;
		width: 2.5rem;
	}
	nav header .menu-button:hover .lines:after{
		top: 15px;
	}
	nav.active header .menu-button .lines:after{
		top: 0px;
		-webkit-transform: rotate3d(0,0,1,-45deg);
		transform: rotate3d(0,0,1,-45deg);
	}

}

@media (max-width: 500px) {
	nav .background{
		position: absolute;

		width: 100%;
		height: 100%;
		background: rgba(0,0,0,0.9);
		background: -webkit-radial-gradient(rgba(0,0,0,1)55%,rgba(0,0,0,0)); /*Safari 5.1-6*/
		background: -o-radial-gradient(rgba(0,0,0,1)55%,rgba(0,0,0,0)); /*Opera 11.1-12*/
		background: -moz-radial-gradient(rgba(0,0,0,1)55%,rgba(0,0,0,0)); /*Fx 3.6-15*/
		background: radial-gradient(rgba(0,0,0,1)55%, rgba(0,0,0,0)); /*Standard*/
		opacity: 0;
		transition: all 1s ease-out;
		-webkit-transition: all 1s ease-out;
	}
	nav.active .background{
		opacity: 0.9;
		position: fixed;

	}

	nav .wrapper-nav{
		display: table;
		height: 100%;
		width: 100%;
	}
	nav header{
		display: table-row;
		height: 150px;/*ajustar a tamaño dispositivo*/
		transition: background 0.5s ease-out;
		-webkit-transition: background 0.5s ease-out;
	}
	nav .nombre{
		margin-left:-15px;
		z-index:1;
	}
	nav .cabecera{
		width:100%;
		position:absolute;
	}
	nav .menu{
		display:none;
		visibility:hidden;
		text-align: center;
		font-size: 18px;
		opacity: 0;
		transition: all 0.5s ease-out;
		-webkit-transition: all 0.5s ease-out;
		z-index: 2;
	}
	nav.active .menu{
		display: table-row;
		visibility:visible;
		opacity: 1;
	}
	nav .menu .wrapper-menu{
		display: table-cell;
		vertical-align: middle;
		padding: 30px 0;
	}
	nav .menu .item{
		padding: 10px;
		font-size: 50px;
		line-height: 50px;
		color: white;
		display: block;
		position: relative;
		font-weight: 100;
		text-transform: uppercase;
	}
	nav .menu .item:hover{
		background: white;
		background: -webkit-radial-gradient(black 40%,rgba(255,255,255,0)); /*Safari 5.1-6*/
		background: -o-radial-gradient(black 40%,rgba(255,255,255,0)); /*Opera 11.1-12*/
		background: -moz-radial-gradient(black 40%,rgba(255,255,255,0)); /*Fx 3.6-15*/
		background: radial-gradient(black 40%, rgba(255,255,255,0)); /*Standard*/
		color: white;
	}

	/* MENU BOTON */
	nav header .menu-button{
		position: absolute;
		top: 0px;
		right: 0px;
		z-index: 2;
	}
	nav header .menu-button .text{
		display: table-cell;
		vertical-align: middle;
		height: 55px;
		text-align: right;
		position: relative;
		font-size: 20px;
		text-transform: uppercase;
		font-weight: 100;
	}
	nav header .menu-button .text a{
		color:white;
	}
	nav header .menu-button .text a:hover{
		color: white;
	}
	nav header .menu-button .text .close,
	nav header .menu-button .text .open{
		padding: 10px;
		transition: 0.5s all ease-out;
		-webkit-transition: 0.5s all ease-out;
		color:white;
	}
	nav.active header .menu-button .text .close,
	nav.fixed-section header .menu-button .text .close,
	nav.active header.active .menu-button .text .open{
		color:white;
	}
	nav header .menu-button .text .open{
		position: absolute;
		top: 30px;
		right: 0px;
		opacity: 0;
	}
	nav.active header .menu-button .text .close{
		opacity: 0;
		margin-top: -15px;
	}
	nav.active header .menu-button .text .open{
		opacity: 1;
		top: 5px;
		right: 0px;
	}
	nav header .menu-button .button{
		display: table-cell;
		vertical-align: middle;
		height: 60px;
		padding: 0px 20px 20px;
		cursor: pointer;
		background:transparent;
	}
	nav header .menu-button .lines{
		display: inline-block;
		width: 40px;
		height: 3px;
		background: white;
		border-radius: .2rem;
		-webkit-transition: all .3s ease;
		transition: all .3s ease;
		position: relative;
	}
	nav header .menu-button.black .lines,
	nav header .menu-button.black .lines:before,
	nav header .menu-button.black .lines:after{
		background: white;
	}
	nav.active header .menu-button .lines{
		background: 0 0;
	}
	nav header .menu-button .lines:before,
	nav header .menu-button .lines:after{
		display: inline-block;
		width: 40px;
		height: 3px;
		background: white;
		border-radius: .2rem;
		-webkit-transition: all .3s ease;
		transition: all .3s ease;
		position: absolute;
		left: 0;
		content: '';
		-webkit-transform-origin: .1rem center;
		transform-origin: .1rem center;
	}
	nav header .menu-button .lines:before{
		-webkit-transform-origin: 50% 50%;
		transform-origin: 50% 50%;
		top: -10px;
		width: 2.5rem;
	}
	nav header .menu-button:hover .lines:before{
		top: -15px;
	}
	nav.active header .menu-button .lines:before{
		top: 0px;
		-webkit-transform: rotate3d(0,0,1,45deg);
		transform: rotate3d(0,0,1,45deg);
	}
	nav header .menu-button .lines:after{
		-webkit-transform-origin: 50% 50%;
		transform-origin: 50% 50%;
		top: 10px;
		width: 2.5rem;
	}
	nav header .menu-button:hover .lines:after{
		top: 15px;
	}
	nav.active header .menu-button .lines:after{
		top: 0px;
		-webkit-transform: rotate3d(0,0,1,-45deg);
		transform: rotate3d(0,0,1,-45deg);
	}

	.texto {	
		display:none;
	}

}
